
 <!-- action usual -->
 <!-- table optimizerdata search -->
 [#if VIEW_MODE="search_optimizerdata" || VIEW_MODE=""#]
<!-- table zwave_devices search -->
<div style="display:none" id='api_settings'>
&nbsp;
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form">
<fieldset>

<div class="form-group">
 <label><input type="checkbox" name="start_daily" value="1"[#if START_DAILY="1"#] checked[#endif#]> Run daily</label>
</div>

    <div class="form-group">
        <label class="control-label" for="start_time">
            Start time (HH):
        </label>
        <input type="text" id="start_time" name="start_time" value="<#START_TIME#>" class="form-control">
    </div>

<div class="form-group">
  <label class="control-label" for="auto_optimize">
   Optimize history automatically when exceed:
  </label>
  <input type="text" id="auto_optimize" name="auto_optimize" value="<#AUTO_OPTIMIZE#>" class="form-control">
   <span class="help-block">(set 0 to disable)</span>
 </div>


    <div class="form-group">
        <label class="control-label" for="keep_cached">
            Keep cached files (days):
        </label>
        <input type="text" id="keep_cached" name="keep_cached" value="<#KEEP_CACHED#>" class="form-control">
        <span class="help-block">(set 0 to keep all)</span>
    </div>


<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update">
</div>
</fieldset>
</form>
</div>
  [#inc optimizerdata_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table optimizerdata search -->
 <!-- table optimizerdata edit -->
 [#if VIEW_MODE="edit_optimizerdata"#]
   [#inc optimizerdata_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table optimizerdata edit -->
 <!-- table optimizerdata view --> 
 [#if VIEW_MODE="view_optimizerdata"#]
   [#inc optimizerdata_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table optimizerdata view -->

 [#if VIEW_MODE="optimize_now"#]
 <iframe src="<#ROOTHTML#>modules/optimizer/optimize.php" width="100%" height="400" frameborder=0></iframe>
 [#endif#]
